<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716764254790-0pak7j3irbl1m2dgif4796npclt358uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716764254790-0pak7j3irbl1m2dgif4796npclt358uo</string>
	<key>API_KEY</key>
	<string>AIzaSyDGr3-tXBRP2RnFS03wNYAF1akjAhrMQMo</string>
	<key>GCM_SENDER_ID</key>
	<string>716764254790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cxq.LearnWords</string>
	<key>PROJECT_ID</key>
	<string>my-project-2020-342d0</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-2020-342d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716764254790:ios:11eababc1cd858fd247047</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-2020-342d0.firebaseio.com</string>
</dict>
</plist>